.search-box {
  width: 300px;
  border-radius: 4px;
  background-color: #c0c0c0;
  height: 30px;
  float: right;
  text-align: center;
  display: flex;
  align-items: center;
  margin-top: 13px;
  margin-bottom: 13px;

  padding: 2px;
}
.header-right-content {
  display: flex;
  justify-content: space-between;
}
.circle {
  border-radius: 50%;
}
.icon-button {
  align-items: center;
}
.hash-tag {
  color: #42a5f5;
}
.tag-space {
  margin-right: 4px;
}
.post-card {
  margin: 10px;
}
.main-content {
  padding: 20px 40px;
}
.likes {
  display: flex;
}
.like-count {
  margin-left: 10px;
  margin-top: 4px;
}
.lable {
  width: 500px;
  margin-right: 20px;
}
.dispNone {
  display: none;
}

.dispBlock {
  display: block;
}
.bold {
  font-weight: bolder;
}
