.search-box {
  width: 300px;
  border-radius: 4px;
  background-color: #c0c0c0;
  height: 30px;
  float: right;
  text-align: center;
  display: flex;
  align-items: center;
  margin-top: 13px;
  margin-bottom: 13px;

  padding: 2px;
}
.header-right-content {
  display: flex;
  justify-content: space-between;
}
.circle {
  border-radius: 50%;
}
.icon-button {
  align-items: center;
}
