.red {
  color: red;
  font-size: 12px;
}
.dispNone {
  display: none;
}

.dispBlock {
  display: block;
}
.card {
  display: flex;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 2%;
}
.login-button {
  font-size: 16px;
}
