.information-section {
  margin-left: 35%;
  display: flex;
  flex-wrap: nowrap;
  height: 70px;
  margin-top: 20px;
}
.user-name {
  font-size: 13px;
  margin-bottom: 5px;
}
.right-information {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  padding: 0;
  height: 50px;
}
.display-row {
  display: flex;
  flex-direction: row;
}
.full-name {
  display: flex;
  flex-direction: row;
}
.small {
  font-size: 9px;
  margin-right: 20px;
  margin-bottom: 5px;
}
.full-name-size {
  font-size: 11px;
  margin-right: 10px;
}
.edit-modal {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  margin-top: 170px;
  width: 300px;
  padding: 10px;
  margin-left: 40%;
  outline: none;
  border: none;
  box-shadow: none;
}
.dispNone {
  display: none;
}
.dispBlock {
  display: block;
}
.image-post {
  margin-top: 40px;
  margin-right: 10%;
  margin-left: 10%;
}
