.app-header {
  height: 56px;
  background-color: #263238;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.header-heading {
  height: 18px;
  display: flex;
  color: #fff;
  margin-left: 10px;
  align-items: center;
}
